body {
    font-family: sans-serif;
    padding: 20px;
  }
  form input {
    display: block;
    margin-bottom: 10px;
    padding-left: 20px;
    width: 300px;
  }
  button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    padding: 10px;
    border: 1px solid #ccc;
  }
